<div class="container">
	<br />
    <div class="box">
        <div class="center gap">
            <h2>Rubros</h2>
            <p class="lead">Seleccione el rubro para filtrar los productos o busque un producto por nombre en el buscador de arriba. Agregue productos a su carrito y envienos su pedido. Nos contactaremos con usted para pasarle el precio y confirmar el envio. Gracias!</p>
        </div><!--/.center-->
        <!--
        <ul class="portfolio-filter">
            <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Bootstrap</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".html">HTML</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Wordpress</a></li>
        </ul><!--/#portfolio-filter-->
        <div class="row">
        <ul class="portfolio-items col-5">

            <li class="portfolio-item" ng-repeat="rubro in rubros">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img src="theme/images/portfolio/thumb/item{{rubro.id}}.jpg" alt="">
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="{{rubro.nombre}}" href="#/rubro/{{rubro.id}}"><i class="icon-eye-open"></i></a>             
                        </div>
                    </div>
                    <h5>{{rubro.nombre}}</h5>
                </div>
            </li><!--/.portfolio-item-->

        </ul>
        </div>   
    </div><!--/.box-->
</div><!--/.container-->