<div class="container">
	<br />
    <div class="box">
        <div class="center gap">
            <h2>Checkout</h2>
            <p class="lead">Seleccione el rubro para filtrar los productos o busque un producto por nombre en el buscador de arriba.</p>
        </div><!--/.center-->

        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
	        	<form role="form" ng-submit="sendPedido()" method="post" action="contacto.php">
				  <div class="form-group">
				    <label for="text">Nombre:</label>
				    <input type="nombre" class="form-control" id="nameForm" name="nameForm" required>
				  </div>
				  <div class="form-group">
				    <label for="email">Email address:</label>
				    <input type="email" class="form-control" id="emailForm" name="emailForm" required>
				  </div>
	  			  <div class="form-group">
				    <label for="telefono">Teléfono:</label>
				    <input type="telefono" class="form-control" id="telForm" name="telForm" required>
				  </div>
				  <div class="form-group">
				    <label for="direccion">Dirección:</label>
				    <input type="direccion" class="form-control" id="direcForm" name="direcForm" required>
				  </div>

				  <input type="hidden" id="pedidoForm" name="pedidoForm">

				  <button type="submit" class="btn btn-success btn-lg">Enviar pedido</button>
				</form>
			</div>
        </div>   
    </div><!--/.box-->
</div><!--/.container-->